Article 22(4): Fundamental requirements, UKBC-ICCARBN 474406981 (2022)
© 2025 Thomson Reuters.
1
Article 22(4): Fundamental requirements
Handbook of ICC Arbitration: Commentary and Materials 5th Ed.
Mainwork
Part I - Arbitration Rules
Chapter 5 - The Arbitral Proceedings
Confidentiality orders
Article 22(4): Fundamental requirements
“In all cases, the arbitral tribunal shall act fairly and impartially and ensure that each party has a reasonable opportunity
to present its case.”
22-70
Article 22(4) sets out one of the fundamental principles relating to arbitration. In short form it is the expression in the Rules of
the obligation of due process. The principle is also reflected as one of the mandatory principles in arbitration law in all major
centres of arbitration, such as Switzerland, 251  France, 252  England, 253  the US 254  and UNCITRAL Model Law countries. 255
The failure by the Tribunal to observe the obligation in art.22(4) may result in annulment of an award or a refusal to enforce the
award. Since the grounds for review of an award are generally limited under applicable law and under the New York Convention,
the obligation reflected in art.22(4) has assumed added prominence in international arbitration.
22-71
The requirement of art.22(4) is an overarching requirement with respect to an ICC arbitration. It relates to the composition of
the Tribunal, to the setting of the procedure, to modifications of the procedure and the hearing itself, to the deliberations within
the Tribunal and to the rendering of an award. Therefore, many of the issues discussed elsewhere may be raised with respect to
art.22(4) and court proceedings alleging a breach of that provision. Therefore, set out below is an overview of the principle in
art.22(4) and some of the components of arbitration proceedings relating thereto.
Footnotes
251
Swiss PILA art.182(3).
252
French Code of Civil Procedure art.1510.
253
Arbitration Act of 1996 s.33.
254
Federal Arbitration Act s.10.
255
UNCITRAL Model Law art.18.
End of Document
© 2025 SWEET & MAXWELL
