Regulation 3. - Requirements of an agreement in respect..., UKBC-WHITEBK...
© 2025 Thomson Reuters.
1
Regulation 3. - Requirements of an agreement in respect of all
damages-based agreements
White Book 2025  | Commentary last updated February 21, 2013
Volume 2
Section 7 - Legal Representatives—Costs and Litigation Funding
Section 7A - Litigation Funding after 1 April 2013
Damages-Based Agreements Regulations 2013
3. Requirements of an agreement in respect of all damages-based agreements
7A-29
The requirements prescribed for the purposes of section 58AA(4)(c) of the Act are that the terms and conditions of a
damages-based agreement must specify—
(a) the claim or proceedings or parts of them to which the agreement relates;
(b) the circumstances in which the representative’s payment, expenses and costs, or part of them, are payable; and
(c) the reason for setting the amount of the payment at the level agreed, which, in an employment matter, shall include
having regard to, where appropriate, whether the claim or proceedings is one of several similar claims or proceedings.
Editorial note
7A-29. 1 Echoing broadly the approach taken for conventional Conditional Fee Agreements, the regulations at reg.3 and reg.4 stipulate
certain formalities with which a DBA must comply first in terms of the actual content of the agreement and second in terms of
information otherwise provided to the client. Regulation 3 defines the mandatory content of the DBA namely that the agreement
must state what proceedings or part of proceedings it relates to, the circumstances in which the fees are payable (in effect, the
definition of success), and the reasons for setting the agreed fee levels (this in effect includes, as a requirement of the agreement,
something similar to a risk, or cost-benefit analysis justifying the fees. Regulation 3(c) also provides that “where appropriate”
this must have regard to whether the claim is one of a number of other similar claims (it is unclear whether appropriate means
“whenever the claim is one of a number of similar claims” or whether it means “where the parties to the agreement consider it
as appropriate to have regard to the fact that the claim is one of a number of similar claims”.
End of Document
© 2025 SWEET & MAXWELL
